<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        User App
    </h1>
</div>
<div>
    <table>
        <tr>
            <th>Nickname</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.nickName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>




